body {
	background-color: #222324;
	color: #D8D9DB;
	font-family: open sans, sans-serif;
	font-size: 15px;

	text-align: center;
	text-decoration: none;
	margin: 0;
	scroll-behavior: smooth;

}

/*Traitement des liens*/
a {
	text-decoration: none;
	color: #7D8185;
	transition: color 0.3s ease;
}

a:hover {
	color: white


/*Traitement des titres*/
}

h1, h2, h3 {
	font-family: Helvetica, sans-serif;
}

h1 {
	color: rgb(230 ;230 ;230);
	font-weight: 500;
	font-size: 50px;
	text-transform: uppercase;

}

h2 {
	color: rgb(230 ;230 ;230);
	font-weight: 500;
	font-size: 35px;
	text-transform: uppercase;

}

/*Traitement du texte*/
p {
	font-weight: lighter;
	letter-spacing: 0.75px;

}

/*Traitement des Divs*/
.naviguation {
	background-color: #222324;
	position: fixed;
	margin:auto;
	width: 100%;

}


/*Menu du haut*/
#menu {
	list-style-type: none;
	padding: 12px;
	margin: auto;
	text-align: center;
	

}

#menu li {
	display: inline;
	margin: 8px;
}



/*En-tête*/
.header {
	background: #2F3031;
	padding: 15px;
	width: 500px;
	margin:25px auto;
	margin-top: 0px;
	padding-top: 50px;
	transition: color 0.6s ease;
	box-shadow: 0px 10px 30px rgba(0 ; 0; 0; 0.8);
}


.cover-image {
	background-image: url(Images/header.jpg);
    background-size: cover;
    background-size: contain;
}

#photo-de-loulou {
    width: 200px;
    border-radius: 50%;
    padding: 20px;
}

#header-justify {
	text-align: justify;
	margin-right: 90px;
	margin-left: 90px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1.5px solid;
	border-bottom: 1.5px solid;
}

.Bouton {
	background: #262626; 
	padding: 15px;
	width: 150px;
	margin: 5px auto;
	border-radius: 8px;
	transition: color 0.3s ease;
}

.Bouton:hover {
	background-color: #32393F;
}



/*Contenu*/
.content {
	background: #2F3031;
	padding: 25px;
	width: 900px;
	margin:25px auto;
	transition: color 0.6s ease;
	border-radius: 8px;
}

	#nobullet {
		list-style-type: none;
		text-align: center;
		margin:auto;
	}

	#nobullet li {
		display: inline;
		margin : 20px;

	}

	#illu {
		background-color: #10171F;
	}
		#king-size{
			width: 850px;
		}
		#bouton-illu-design {
			padding:20px;
		}


.graphics {
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	width: 900px;
	margin: 25px auto;
	padding: 25px 0px;
	border-radius: 8px;
}
	
.graphics h2 {
	padding-left: 30px;
}

.graphic {
	display: flex;
	/*flex-wrap: wrap;*/
	/*align-items: center;*/
	justify-content: space-around;
}

.graph1 img {
	width: 400px;
	margin: 30px 0px;
	padding-right: 30px;
}

.graph2 p {
	margin: 30px 40px;
	text-align: justify;
}

.graph2 a {
	background-color: #2F3031;
	border-radius: 8px;
	padding: 12px;
}


.commercial a {
	padding: 12px;
}

/*Footer*/

#follow {
	background-color: #131313;
	margin: auto;
	text-align: center;
	width: 100%;
	border-radius: none;
	padding: 20px 0px;
	font-size: 25px;
	margin:0px;
}
